USE [master]
GO
/****** Object:  Database [PRJ302_Project]    Script Date: 26/02/2026 9:24:04 CH ******/
CREATE DATABASE [PRJ302_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ302_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PRJ302_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ302_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PRJ302_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ302_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ302_Project]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 26/02/2026 9:24:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[username] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [varchar](100) NULL,
	[phone] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 26/02/2026 9:24:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[total_days] [int] NULL,
	[total_price] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_Details]    Script Date: 26/02/2026 9:24:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Details](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[bike_id] [int] NOT NULL,
	[price_per_day] [decimal](10, 2) NULL,
	[quantity] [int] NULL,
	[subtotal]  AS ([price_per_day]*[quantity]),
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motorbikes]    Script Date: 26/02/2026 9:24:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorbikes](
	[bike_id] [int] IDENTITY(1,1) NOT NULL,
	[bike_name] [varchar](100) NOT NULL,
	[license_plate] [varchar](20) NOT NULL,
	[brand] [varchar](50) NULL,
	[bike_type] [varchar](50) NULL,
	[engine_capacity] [varchar](20) NULL,
	[price_per_day] [decimal](10, 2) NULL,
	[quantity] [int] NULL,
	[image_url] [varchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[bike_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 26/02/2026 9:24:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_date] [datetime] NULL,
	[method] [varchar](50) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revenue_History]    Script Date: 26/02/2026 9:24:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revenue_History](
	[revenue_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[revenue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([username], [password], [full_name], [phone], [email], [role]) VALUES (N'admin01', N'123', N'Nguyen Van An', N'0912345678', N'an.nguyen@gmail.com', N'admin')
INSERT [dbo].[Accounts] ([username], [password], [full_name], [phone], [email], [role]) VALUES (N'user01', N'123', N'Tran Thi Mai', N'0987654321', N'mai.tran@gmail.com', N'customer')
INSERT [dbo].[Accounts] ([username], [password], [full_name], [phone], [email], [role]) VALUES (N'user02', N'123', N'Le Hoang Minh', N'0901122334', N'minh.le@gmail.com', N'customer')
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([booking_id], [username], [start_date], [end_date], [total_days], [total_price], [status], [created_at]) VALUES (1, N'user01', CAST(N'2026-03-01' AS Date), CAST(N'2026-03-03' AS Date), NULL, CAST(300000.00 AS Decimal(10, 2)), N'Completed', CAST(N'2026-02-26T20:51:10.517' AS DateTime))
INSERT [dbo].[Booking] ([booking_id], [username], [start_date], [end_date], [total_days], [total_price], [status], [created_at]) VALUES (2, N'user02', CAST(N'2026-03-02' AS Date), CAST(N'2026-03-05' AS Date), NULL, CAST(600000.00 AS Decimal(10, 2)), N'Completed', CAST(N'2026-02-26T20:51:10.517' AS DateTime))
INSERT [dbo].[Booking] ([booking_id], [username], [start_date], [end_date], [total_days], [total_price], [status], [created_at]) VALUES (3, N'user03', CAST(N'2026-03-04' AS Date), CAST(N'2026-03-06' AS Date), NULL, CAST(450000.00 AS Decimal(10, 2)), N'Renting', CAST(N'2026-02-26T20:51:10.517' AS DateTime))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking_Details] ON 

INSERT [dbo].[Booking_Details] ([detail_id], [booking_id], [bike_id], [price_per_day], [quantity]) VALUES (1, 1, 1, CAST(150000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Booking_Details] ([detail_id], [booking_id], [bike_id], [price_per_day], [quantity]) VALUES (2, 2, 2, CAST(300000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Booking_Details] ([detail_id], [booking_id], [bike_id], [price_per_day], [quantity]) VALUES (3, 3, 3, CAST(250000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Booking_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Motorbikes] ON 

INSERT [dbo].[Motorbikes] ([bike_id], [bike_name], [license_plate], [brand], [bike_type], [engine_capacity], [price_per_day], [quantity], [image_url], [status]) VALUES (1, N'Honda Lead 125', N'59A1-11111', N'Honda', N'Automatic', N'125cc', CAST(150000.00 AS Decimal(10, 2)), 5, N'lead.jpg', 1)
INSERT [dbo].[Motorbikes] ([bike_id], [bike_name], [license_plate], [brand], [bike_type], [engine_capacity], [price_per_day], [quantity], [image_url], [status]) VALUES (2, N'Honda SH 150i', N'59A1-22222', N'Honda', N'Automatic', N'150cc', CAST(300000.00 AS Decimal(10, 2)), 3, N'sh.jpg', 1)
INSERT [dbo].[Motorbikes] ([bike_id], [bike_name], [license_plate], [brand], [bike_type], [engine_capacity], [price_per_day], [quantity], [image_url], [status]) VALUES (3, N'Honda SH Mode', N'59A1-33333', N'Honda', N'Automatic', N'125cc', CAST(250000.00 AS Decimal(10, 2)), 4, N'shmode.jpg', 1)
SET IDENTITY_INSERT [dbo].[Motorbikes] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([payment_id], [booking_id], [amount], [payment_date], [method], [status]) VALUES (1, 1, CAST(300000.00 AS Decimal(10, 2)), CAST(N'2026-02-26T20:51:10.520' AS DateTime), N'Cash', N'Paid')
INSERT [dbo].[Payments] ([payment_id], [booking_id], [amount], [payment_date], [method], [status]) VALUES (2, 2, CAST(600000.00 AS Decimal(10, 2)), CAST(N'2026-02-26T20:51:10.520' AS DateTime), N'Bank Transfer', N'Paid')
INSERT [dbo].[Payments] ([payment_id], [booking_id], [amount], [payment_date], [method], [status]) VALUES (3, 3, CAST(500000.00 AS Decimal(10, 2)), CAST(N'2026-02-26T20:51:10.520' AS DateTime), N'Cash', N'Paid')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Revenue_History] ON 

INSERT [dbo].[Revenue_History] ([revenue_id], [booking_id], [total_amount], [payment_method], [payment_status], [created_at]) VALUES (1, 1, CAST(300000.00 AS Decimal(10, 2)), N'Cash', N'Paid', CAST(N'2026-02-26T20:51:10.523' AS DateTime))
INSERT [dbo].[Revenue_History] ([revenue_id], [booking_id], [total_amount], [payment_method], [payment_status], [created_at]) VALUES (2, 2, CAST(600000.00 AS Decimal(10, 2)), N'Bank Transfer', N'Paid', CAST(N'2026-02-26T20:51:10.523' AS DateTime))
INSERT [dbo].[Revenue_History] ([revenue_id], [booking_id], [total_amount], [payment_method], [payment_status], [created_at]) VALUES (3, 3, CAST(500000.00 AS Decimal(10, 2)), N'Cash', N'Paid', CAST(N'2026-02-26T20:51:10.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[Revenue_History] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__AB6E61640461BB1D]    Script Date: 26/02/2026 9:24:05 CH ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Motorbik__F72CD56E55BCA27C]    Script Date: 26/02/2026 9:24:05 CH ******/
ALTER TABLE [dbo].[Motorbikes] ADD UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payments__5DE3A5B02D5878FA]    Script Date: 26/02/2026 9:24:05 CH ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Revenue___5DE3A5B0E4D76324]    Script Date: 26/02/2026 9:24:05 CH ******/
ALTER TABLE [dbo].[Revenue_History] ADD UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Booking_Details] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Motorbikes] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Motorbikes] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Paid') FOR [status]
GO
ALTER TABLE [dbo].[Revenue_History] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([username])
REFERENCES [dbo].[Accounts] ([username])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[Booking_Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Bookings] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Booking_Details] CHECK CONSTRAINT [FK_Details_Bookings]
GO
ALTER TABLE [dbo].[Booking_Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Motorbikes] FOREIGN KEY([bike_id])
REFERENCES [dbo].[Motorbikes] ([bike_id])
GO
ALTER TABLE [dbo].[Booking_Details] CHECK CONSTRAINT [FK_Details_Motorbikes]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Revenue_History]  WITH CHECK ADD  CONSTRAINT [FK_Revenue_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Revenue_History] CHECK CONSTRAINT [FK_Revenue_Booking]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([role]='customer' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([status]='Canceled' OR [status]='Completed' OR [status]='Renting' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Date_Check] CHECK  (([end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Date_Check]
GO
ALTER TABLE [dbo].[Booking_Details]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Motorbikes]  WITH CHECK ADD CHECK  (([price_per_day]>(0)))
GO
ALTER TABLE [dbo].[Motorbikes]  WITH CHECK ADD CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([status]='Refunded' OR [status]='Unpaid' OR [status]='Paid'))
GO
USE [master]
GO
